<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <Title>Erase Account Data - Secure</Title>
    </head>

    <body>
        <h1>Erase Account Data - Secure</h1>
        <p>Securely and accurately erasing data</p>
        <p>Ensure that secure_api.py is running</p>
        <p>NOTE TO SELF: Make sure to organise the html files into secure/insecure for the APIs</p>
        <div class="center">
            <label for="txtName">Enter a valid email</label><br>
            <input type="text" id="txtName"/><br>
            <label for="txtName2">Enter a valid password</label><br>
            <input type="text" id="txtName2"/>
            <button type="button" onclick="deleteData()">Delete Account Data</button>
            <p id="response"></p>
            <p>The response will be sent by the API</p>
            <div id="resultContainer"></div>
            <button id="decryptButton">Decrypt Message</button>
            <p>This will be decrypted locally</p>
            <p id="decryptedMessage"></p>
        </div>
        <!-- This is how flask finds the JS scripts for the html files -->
        <script src="{{url_for('static', filename='js/deleteAccountData_secure.js')}}"></script>
        <script src="{{url_for('static', filename='js/decryptData.js')}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    </body>
</html>