<!DOCTYPE html>
<!-- Milestone 14 -->
<html>
    <head>
        <title>Cyber-Security API Project</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <h1>Cyber-Security API Project Directory</h1>
        <h3>Final Artefact Version</h3>
        <p>
            Student Name: Eduardo Manuel Costa Moreira<br>
            Student ID: MOR21500097<br>
            Date: 27/04/2024<br>
        </p>
        <h2>Insecure API</h2>
        <p>Make sure you are running insecure_api.py when using these directories</p>
        <p>This is the directory of Insecure API Pages available to interact with</p>
        <!-- Make sure to update these URLs for Linux Testing, the IP address should be 10.0.2.5 -->
        <ul>
            <li>
                <a href="http://10.0.2.5:8000/insecure/sayhello">Say Hi - Insecure API</a>
            </li>
            <li>
                <a href="http://10.0.2.5:8000/insecure/ageprediction">Age Prediction - Insecure API</a>
            </li>
            <li>
                <a href="http://10.0.2.5:8000/insecure/email">Email Login - Insecure API</a>
            </li>
            <li>
                <a href="http://10.0.2.5:8000/insecure/sampleSensitiveData">Sample Sensitive Data - Insecure API</a>
            </li>
            <li>
                <a href="http://10.0.2.5:8000/insecure/sqlData">SQL User Data</a>
            </li>
            <li>
                <a href="http://10.0.2.5:8000/insecure/sqlUserPosts">SQL User Posts</a>
            </li>
            <li>
                <a href="http://10.0.2.5:8000/insecure/accountAccess">Account Access</a>
            </li>
            <li>
                <a href="http://10.0.2.5:8000/insecure/eraseData">Erase Account Data</a>
            </li>
        </ul>

        <h2>Secure API</h2>
        <p>Make sure you are running secure_api.py when using these directories</p>
        <p>This is the directory of Secure API Pages available to interact with</p>
        <ul>
            <li>
                <a href="http://10.0.2.5:9000/secure/sayhello">Say Hi - Secure API</a>
            </li>
            <li>
                <a href="http://10.0.2.5:9000/secure/ageprediction">Age Prediction - Secure API</a>
            </li>
            <li>
                <a href="http://10.0.2.5:9000/secure/email">Email Login - Secure API</a>
            </li>
            <li>
                <a href="http://10.0.2.5:9000/secure/sampleSensitiveData">Sample Sensitive Data - Secure API</a>
            </li>
            <li>
                <a href="http://10.0.2.5:9000/secure/sqlData">SQL User Data</a>
            </li>
            <li>
                <a href="http://10.0.2.5:9000/secure/sqlUserPosts">SQL User Posts</a>
            </li>
            <li>
                <a href="http://10.0.2.5:9000/secure/accountAccess">Account Access</a>
            </li>
            <li>
                <a href="http://10.0.2.5:9000/secure/eraseData">Erase Account Data</a>
            </li>
        </ul>
    </body>
</html>