<!DOCTYPE html>
<html>
    <head>
        <title>Cyber-Security API Project</title>
    </head>
    <body>
        <h1>Cyber-Security API Project Directory</h1>
        <h3>Milestone 8</h3>
        <h2>Insecure API</h2>
        <p>Make sure you are running unsecure_api.py when using these directories</p>
        <p>This is the directory of API endpoints available</p>
        <ul>
            <li>
                <a href="/insecure/sayhello">Say Hi - Insecure API</a>
            </li>
            <li>
                <a href="/insecure/ageprediction">Age Prediction - Insecure API</a>
            </li>
            <li>
                <a href="/insecure/email">Email Login - Insecure API</a>
            </li>
        </ul>

        <h2>Secure API</h2>
        <p>Make sure you are running secure_api.py when using these directories</p>
        <p>This is the directory of API endpoints available</p>
        <ul>
            <li>
                <a href="/secure/sayhello">Say Hi - Secure API</a>
            </li>
            <li>
                <a href="/secure/ageprediction">Age Prediction - Secure API</a>
            </li>
            <li>
                <a href="/secure/email">Email Login - Secure API</a>
            </li>
        </ul>
    </body>
</html>